*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --headings: 'Times New Roman', Times, serif;
    --gap-padding: 12px;
}

body{
    color: white;
}

.navBar{
    background-color: rgba(0, 0, 0, 0.717);
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15%;
    color: white;
    backdrop-filter: blur(5px);

}

.logo{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: var(--headings);
}

h1{
    font-family: var(--headings);
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.logoImg{
    height: 30px;
}

.content{
    padding: 20px 15%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-padding);
}

.linkGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-padding);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.gridItem{
    background-color: black;
    border-radius: 10px;
    height: 200px;
    padding: var(--gap-padding);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--gap-padding);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.295);
}

.gridIcon{
    width: 50px;
    filter:invert();
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.cmdList{
    background-color: black;
    color: white;
    padding: var(--gap-padding);
    line-height: 30px;
}

.cmdList li {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.programmerGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-padding);
    text-align: center;
}

.programmerGrid li{
    background-color: black;
    color: white;
    padding: var(--gap-padding);
    border-radius: var(--gap-padding);
    list-style: none;
}

.command{
    font-weight: bold;
    background-color: #f5f0ed;
    width: fit-content;
    padding: 5px;
    border: 1px solid #c4bebc;
    cursor: pointer;
}

table, th, td {
  border-collapse: collapse;
}

.tableContent{
    background: rgba(255, 255, 255, 0.619);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;
}


table{
    width: 100%;
    color: black;
    border-radius: 20px;
    overflow: hidden;
}

td{
    padding: 5px;
}

.tableHeading{
    background-color: rgba(24, 24, 24, 0.63);
    color: white;
    display: flex;
    width: 100%;
    column-span: 2;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 30px;
    font-weight: 600;
}

.tableUnderHeadings{
    background-color: rgba(104, 104, 104, 0.425);
    backdrop-filter: blur(15px);
    color: white;
}

.dropdown{
    filter: invert();
    width: 40px;
}

.lenkerCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-padding);

}

.lenker{
    color: #000000 !important; 
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.548);
    width: fit-content;
    border-radius: 20px;
    padding:10px;
    border: 1px solid rgba(128, 128, 128, 0.299);
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.linkNIcon{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}


.linkIcon{
    width: 30px;
}

.background{
    position: absolute;
    height: 120vh;
    width: 100%;
    z-index: -1;
    max-width: 100%;
    object-fit: cover;
    filter:brightness(0.7)contrast(1.1);
    

}

.lenkerBox{
    background-color: rgba(218, 218, 218, 0.616);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.295);
}

h2{
    margin-bottom: 20px;
}

table{
    /*background-color: rgba(255, 255, 255, 0.573);*/
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resetCache{
    border: none;
    background-color: rgba(255, 255, 255, 0.724);
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}